<form ng-submit="vm.login()" ng-if="!vm.setup">
  <label>Email</label>
  <input type="email" ng-model="vm.user.username" /><br />
  <label>Password</label>
  <input type="password" ng-model="vm.user.password" />

  <button type="submit">Login</button>
</form>

<form ng-submit="vm.createUser()" ng-if="vm.setup">
  <p>Please create an account to continue</p>
  <label>Name</label>
  <input type="text" ng-model="vm.user.name" /><br />
  <label>Email</label>
  <input type="email" ng-model="vm.user.email" /><br />
  <label>Password</label>
  <input type="password" ng-model="vm.user.password" /><br />
  <label>Re-type Password</label>
  <input type="password" ng-model="vm.user.passwordRetype" />

  <button type="submit">Create User</button>
</form>