
<!-- Header -->
<header id="header">
  <h1><a href="#">Rafael Gil</a></h1>
  <nav class="links">
    <ul>
      <li><a href="javascript:void(0)" ui-sref="main.posts">Blog</a></li>
      <li ng-repeat="page in main.pages"><a href="javascript:void(0)" ng-click="main.viewPage(page)">{{::page.title}}</a></li>
      <li ng-if="main.loggedIn">Add</li>
    </ul>
  </nav>
</header>
<!-- Main -->
<div id="main">
  <form ng-submit="vm.login()" ng-if="!vm.setup">
  <label>Email</label>
  <input type="email" ng-model="vm.user.username" /><br />
  <label>Password</label>
  <input type="password" ng-model="vm.user.password" /><br />

  <button type="submit">Login</button>
</form>

<form ng-submit="vm.createUser()" ng-if="vm.setup">
  <p>Please create an account to continue</p>
  <label>Name</label>
  <input type="text" ng-model="vm.user.name" /><br />
  <label>Email</label>
  <input type="email" ng-model="vm.user.email" /><br />
  <label>Password</label>
  <input type="password" ng-model="vm.user.password" /><br />
  <label>Re-type Password</label>
  <input type="password" ng-model="vm.user.passwordRetype" />

  <button type="submit">Create User</button>
</form>
</div>
<template-deps />