<article class="post">
  <header>
    <div class="title">
      <h2><a href="#" ng-hide="vm.post.editing">{{vm.post.title}}</a>
      <a href="javascript:void(0)" class="fa fa-pencil-square" ng-click="vm.edit(vm.post)" ng-hide="vm.post.editing" ng-if="main.loggedIn"></a>
      <input type="text" ng-show="vm.post.editing" ng-model="vm.post.title" placeholder="Title" ng-if="main.loggedIn" /></h2>
    </div>
    <div class="meta">
      <time class="published" datetime="2015-11-01">{{::vm.post.pubDate | date : 'MMMM d, yyyy'}}</time>
      <a href="#" class="author"><span class="name">{{::vm.post.User.name}}</span><img src="images/avatar.jpg" alt="" /></a>
    </div>
  </header>
  <input type="file" file-model="vm.post.image" ng-if="vm.post.editing" />
  <a class="image featured"><img src="{{vm.post.image}}" alt="" /></a>
  <p id="post_{{vm.post.id}}" ng-bind-html="vm.post.content"></p>
  <footer>
    <ul class="actions" ng-if="main.loggedIn">
      <li>
        <button ng-click="vm.save(vm.post)" class="button big" ng-show="vm.post.editing"><i class="fa fa-check-square"></i> Save</button>
      </li>
    </ul>
  </footer>
</article>

<ul class="actions pagination">
  <li><a ui-sref="main.posts" class="button big previous">Return</a></li>
</ul>