<button ng-click="create()">Add Post</button>
<ul>
  <li ng-show="showAdd" class="post">
    <h7>
      <input type="text" ng-model="newTitle" placeholder="Title" />
      <button ng-click="insert()">Save Icon</button>
    </h7>
    <div id="newSummaryEditor">
      <p>{{summaryPlaceholder}}</p>
    </div>
    <div id="newContentEditor">
      <p>{{contentPlaceholder}}</p>
    </div>
  </li>
  <li ng-repeat="post in posts" class="post">
    <h7>
      <span ng-hide="post.editing">{{post.title}}</span>
      <input type="text" ng-show="post.editing" ng-model="post.title" placeholder="Title" />
      <button ng-click="edit(post)" ng-hide="post.editing">Pencil Icon</button>
      <button ng-click="save(post)" ng-show="post.editing">Save Icon</button>
    </h7>
    <div id="post_{{post.id}}" ng-bind-html="post.summary"></div>
  </li>
</ul>