<!-- new post -->
<button ng-click="create()" ng-if="loggedIn"><i class="fa fa-plus-square"></i> Add Post</button>
<article class="post" ng-show="showAdd" ng-if="loggedIn">
  <header>
    <div class="title">
      <h2><input type="text" ng-model="newForm.newTitle" placeholder="Title" /></h2>
    </div>
    <div class="meta">
      <a href="#" class="author"><span class="name">{{currentUser.name}}</span><img src="images/avatar.jpg" alt="" /></a>
    </div>
  </header>
  <div id="newSummaryEditor">
    <p>{{newForm.summaryPlaceholder}}</p>
  </div>
  <div id="newContentEditor">
    <p>{{newForm.contentPlaceholder}}</p>
  </div>
  <footer>
    <ul class="actions">
      <li>
        <button ng-click="insert()" class="button big"><i class="fa fa-check-square"></i> Save</button>
      </li>
    </ul>
  </footer>
</article>
<!-- post list -->
<article class="post" ng-repeat="post in posts">
  <header>
    <div class="title">
      <h2><a href="javascript:void(0)" ng-click="viewPost(post)" ng-hide="post.editing">{{post.title}}</a>
      <a href="javascript:void(0)" class="fa fa-pencil-square" ng-click="edit(post)" ng-hide="post.editing" ng-if="loggedIn"></a>
      <input type="text" ng-show="post.editing" ng-model="post.title" placeholder="Title" ng-if="loggedIn" /></h2>
    </div>
    <div class="meta">
      <time class="published" datetime="2015-11-01">{{post.pubDate}}</time>
      <a href="#" class="author"><span class="name">{{post.user.name}}</span><img src="images/avatar.jpg" alt="" /></a>
    </div>
  </header>
  <!--a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a-->
  <p id="post_{{post.id}}" ng-bind-html="post.summary"></p>
  <footer>
    <ul class="actions">
      <li>
        <a href="javascript:void(0)" class="button big" ng-click="viewPost(post)" ng-hide="post.editing">Continue Reading</a>
        <button ng-click="save(post)" class="button big" ng-show="post.editing" ng-if="loggedIn"><i class="fa fa-check-square"></i> Save</button>
      </li>
    </ul>
    <ul class="stats">
      <li><a href="#">General</a></li>
      <li><a href="#" class="icon fa-heart">28</a></li>
      <li><a href="#" class="icon fa-comment">128</a></li>
    </ul>
  </footer>
</article>

<!-- Pagination -->
<ul class="actions pagination">
  <li>
    <button ng-click="olderPosts()" class="button big previous" ng-show="canGoBack">Older Posts</button>
  </li>
  <li>
    <button ng-click="newerPosts()" class="button big next" ng-show="paginationInfo.page > 1">Newer Posts</button>
  </li>
</ul>